/*-- Background image--*/

body { 
			background-image: url("../images/koffie4.jpg") ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: rgba(0,0,0,.5);
}
.bg {
    /* Full height */
    height: 100vh; 
    margin: 0;
    padding: 0;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute;
    z-index: -1;
}

/*-- Base structure --*/

html,
body {
  height: 100%;
  margin: 0;
  background-color: #333;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

div, body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100%; 
  width: 100%; 
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; 
  height:45%;
  bottom: 0; 
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 0.5em;
}

.message .lead{
  max-width: 800px;
  margin: 0 auto;
}

.full-height-container {
  min-height: 100vh;
  position: relative;
}

.column img{
  max-width: 100%;
}

.column {
  padding: 0 30px;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h2 .p{
  text-align: center;
}

.h3 {
  text-align: center;
}
/*-- Map and Filter --*/

.find {
    text-align: center;
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
}

#map {
  min-height: 500px;
}

/*-- Fonts --*/

h4 {
  font-family: "Montserrat", serif;
  color: black;
}
h1 {
  font-family: "Montserrat", serif;
}
p {
  font-family: "Montserrat", serif;
}

.radio-button {
  font-family: "Montserrat", serif;
  color: black;
}

.form-control {
  font-family: "Montserrat", serif;
  color: black;
}

h5#connect {
  font-family: "Montserrat", serif;
  color: black;
}

p#copyright {
  font-family: "Montserrat", serif;
  color: black;
}

li#address {
  font-family: "Montserrat", serif;
  color: black;
}

li#phone {
  font-family: "Montserrat", serif;
  color: black;
}

a {
  font-family: "Montserrat", serif;
  color: black;
}

li.detail-name {
  font-family: "Montserrat", serif;
  color: black;
}


/*--hint-statement--*/

h4.hint-statement {
  border: 1px;
  border-style: solid;
  border-color: #FF0000;
  border-radius: 25px;
}

/*--backgroundcolor footer--*/

footer.bg-primary {
  background-color: #ABE1ED !important;
}

/*--remove bullet list detail-list--*/

ul {
  list-style: none;
}